@model CAPSTONE_PROJECT.Models.Pagamenti

@{
    ViewBag.Title = "Details";
}

@{
    Session["fkPag"] = Model.IdPagamento;
}

@{
    Session["Totale"] = Model.Totale;
}

<h2 class="m-4">Dettagli pagamento n. @this.Model.IdPagamento</h2>
<div class="my-form">
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Mensa)
        </dt>

        <dd>
            @if (Model.Mensa != null)
            {
                @Html.DisplayFor(model => model.Mensa)
            }
            else
            {
                <p>-</p>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrasportoScolastico)
        </dt>

        <dd>
            @if (Model.TrasportoScolastico != null)
            {
                @Html.DisplayFor(model => model.TrasportoScolastico)
            }
            else
            {
                <p>-</p>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assicurazione)
        </dt>

        <dd>
            @if (Model.Assicurazione != null)
            {
                @Html.DisplayFor(model => model.Assicurazione)
            }
            else
            {
                <p>-</p>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bilinguismo)
        </dt>

        <dd>
            @if (Model.Bilinguismo != null)
            {
                @Html.DisplayFor(model => model.Bilinguismo)
            }
            else
            {
                <p>-</p>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Totale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Totale)
        </dd>

    </dl>

    @if (User.IsInRole("admin"))
    {
        @Html.ActionLink("Torna alla lista dei pagamenti", "Index", "Pagamenti")
    }
    else
    {
        <p>
            @Html.ActionLink("Procedi con il pagamento", "Create", "PagamentiEffettuati")
        </p>
    }

</div>





