@model CAPSTONE_PROJECT.Models.Pagamenti

@{
    ViewBag.Title = "Details";
}

<h2 class="m-4">Dettagli pagamento n. @this.Model.IdPagamento</h2>

<div>
    <hr />
    <dl class="dl-horizontal my-form">
        <dt>
            @Html.DisplayNameFor(model => model.Mensa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mensa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrasportoScolastico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrasportoScolastico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assicurazione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assicurazione)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bilinguismo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bilinguismo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Totale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Totale)
        </dd>

    </dl>
</div>
<p class="m-4">
    @*@Html.ActionLink("Modifica", "Edit", new { id = Model.IdPagamento }) |*@
    @Html.ActionLink("Torna alla lista dei pagamenti", "Index")
</p>
