@model IEnumerable<CAPSTONE_PROJECT.Models.Pagamenti>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Mensa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrasportoScolastico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assicurazione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bilinguismo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Totale)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Mensa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrasportoScolastico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Assicurazione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bilinguismo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Totale)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdPagamento }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdPagamento }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdPagamento })
        </td>
    </tr>
}

</table>
