@model IEnumerable<CAPSTONE_PROJECT.Models.Pagamenti>

@{
    ViewBag.Title = "Index";
}

<h2 class="m-4">Lista pagamenti</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdPagamento)
        </th>
        <th class="d-none d-md-table-cell">
            @Html.DisplayNameFor(model => model.Mensa)
        </th>
        <th class="d-none d-md-table-cell">
            @Html.DisplayNameFor(model => model.TrasportoScolastico)
        </th>
        <th class="d-none d-md-table-cell">
            @Html.DisplayNameFor(model => model.Assicurazione)
        </th>
        <th class="d-none d-md-table-cell">
            @Html.DisplayNameFor(model => model.Bilinguismo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Totale)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdPagamento)
        </td>
        <td class="d-none d-md-table-cell">
            @Html.DisplayFor(modelItem => item.Mensa)
        </td>
        <td class="d-none d-md-table-cell">
            @Html.DisplayFor(modelItem => item.TrasportoScolastico)
        </td>
        <td class="d-none d-md-table-cell">
            @Html.DisplayFor(modelItem => item.Assicurazione)
        </td>
        <td class="d-none d-md-table-cell">
            @Html.DisplayFor(modelItem => item.Bilinguismo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Totale)
        </td>
        <td>
            @Html.ActionLink("Modifica", "Edit", new { id = item.IdPagamento }) |
            @Html.ActionLink("Dettagli", "Details", new { id = item.IdPagamento }) |
            @*@Html.ActionLink("Elimina", "Delete", new { id = item.IdPagamento })*@
        </td>
    </tr>
}

</table>
