@model CAPSTONE_PROJECT.Models.Alunni

@{
    ViewBag.Title = "Delete";
}

<h2 class="m-4 text-danger">Sei sicuro di voler eliminare l'alunno n.@Model.IdAlunno?</h2>

<div>
    <hr />
    <dl class="dl-horizontal my-form">
        <dt>
            @Html.DisplayNameFor(model => model.Classi.Anno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Classi.Anno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Classi.Sezione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Classi.Sezione)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DomandeIscrizione.NomeAlunno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DomandeIscrizione.NomeAlunno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DomandeIscrizione.CognomeAlunno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DomandeIscrizione.CognomeAlunno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pagamenti.IdPagamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pagamenti.IdPagamento)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color m-4">
            <input type="submit" value="Elimina" class="btn btn-default text-bg-danger" /> 
            <hr />
            @Html.ActionLink("Torna alla lista alunni", "Index")
        </div>
    }
</div>
