@model IEnumerable<CAPSTONE_PROJECT.Models.PagamentiEffettuati>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pagamenti.IdPagamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalePagato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotaleDaPagare)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pagamenti.IdPagamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalePagato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotaleDaPagare)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdPagamentoEffettuato }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdPagamentoEffettuato }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdPagamentoEffettuato })
        </td>
    </tr>
}

</table>
