
@{
    ViewBag.Title = "GestioneClassi";
}

<h2>GestioneClassi</h2>

@Html.ActionLink("Classi prime tempo pieno", "GestionePrimeTP", "AreaRiservata", new { area = "" }, new { @class = "btn btn-primary" })
@Html.ActionLink("Classi prime tempo corto", "GestionePrimeTC", "AreaRiservata", new { area = "" }, new { @class = "btn btn-primary" })
@Html.ActionLink("Classi seconde tempo pieno", "GestioneSecondeTP", "AreaRiservata", new { area = "" }, new { @class = "btn btn-primary" })
@Html.ActionLink("Classi seconde tempo corto", "GestioneSecondeTC", "AreaRiservata", new { area = "" }, new { @class = "btn btn-primary" })
@Html.ActionLink("Classi terze tempo pieno", "GestioneTerzeTP", "AreaRiservata", new { area = "" }, new { @class = "btn btn-primary" })
@Html.ActionLink("Classi terze tempo corto", "GestioneTerzeTC", "AreaRiservata", new { area = "" }, new { @class = "btn btn-primary" })
@*<div>
        @Html.ActionLink("Visualizza classi generate", "SalvaClassi", "AreaRiservata", new { area = "" }, new { @class = "btn btn-primary" })
    </div>*@

<a href="#" id="salvaClassi">Visualizza classi</a>
<ul id="classiSalvate"></ul>
@*<div id="divForButton">*@
    <button id="save" style="display:none">Salva classi</button>
@*</div>*@

<p>@ViewBag.Message</p>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            

            $("#salvaClassi").click(function () {
                $("#classiSalvate").empty();
                $.ajax({
                    method: "GET",
                    url: "SalvaClassi",
                    success: function (lista) {
                        $.each(lista, function (i, v) {
                            var licurrent = ` <li>` + v.Anno + ` ` + v.Sezione + ` </li>`;
                            $("#classiSalvate").append(licurrent);
                        })
                        //var newButton = `<button id="save">Salva classi</button>`
                        //$("#divForButton").append(newButton);
                        $("#save").show();
                    }
                })
            })

            $("#save").click(function () {
                //var inputVal = $("#cf").val()
                //console.log(inputVal)
                //if (inputVal !== "") {
                /*alert();*/
                    $.ajax({
                        method: 'GET',
                        url: "SalvaC",
/*                        data: { cf: inputVal },*/
                        success: function (data) {
                            console.log(data)
                        }
                    })
            })

        })

    </script>
}