
@{
    ViewBag.Title = "GestioneClassi";
}

<h2>GestioneClassi</h2>

@Html.ActionLink("Classi prime tempo pieno", "GestionePrimeTP", "AreaRiservata", new { area = "" }, new { @class = "btn btn-primary" })
@Html.ActionLink("Classi prime tempo corto", "GestionePrimeTC", "AreaRiservata", new { area = "" }, new { @class = "btn btn-primary" })
@Html.ActionLink("Classi seconde tempo pieno", "GestioneSecondeTP", "AreaRiservata", new { area = "" }, new { @class = "btn btn-primary" })
@Html.ActionLink("Classi seconde tempo corto", "GestioneSecondeTC", "AreaRiservata", new { area = "" }, new { @class = "btn btn-primary" })
@Html.ActionLink("Classi terze tempo pieno", "GestioneTerzeTP", "AreaRiservata", new { area = "" }, new { @class = "btn btn-primary" })
@Html.ActionLink("Classi terze tempo corto", "GestioneTerzeTC", "AreaRiservata", new { area = "" }, new { @class = "btn btn-primary" })


<a href="#" id="salvaClassi">Visualizza classi</a>
<ul id="classiSalvate"></ul>

<label id="label" style="display:none">Inserisci anno scolastico</label>
<input id="year" style="display:none" placeholder="2020-2021" />
<button id="save" style="display:none">Salva classi</button>

<div id="response"></div>

@{ 
    var myTemp = TempData["ClassiGenerate"];
}

    @*Riprendi da qui
        <p id="classiGenerate" style="display:none">@myTemp</p>*@

    <p id="classiGenerate" style="display:none">Classi generate correttamente</p>
    <p id="pSave" style="display:none">Procedi al salvataggio degli studenti</p>
    <button id="saveStudents" style="display:none">Salva studenti</button>
}


<div id="responseSaveStudents"></div>


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            $("#salvaClassi").click(function () {
                $("#classiSalvate").empty();
                $.ajax({
                    method: "GET",
                    url: "SalvaClassi",
                    success: function (lista) {
                        $.each(lista, function (i, v) {
                            var licurrent = ` <li>` + v.Anno + ` ` + v.Sezione + ` </li>`;
                            $("#classiSalvate").append(licurrent);
                        })
                        $("#label").show();
                        $("#year").show();
                        $("#save").show();
                    }
                })
            })

            $("#save").click(function () {
                var inputVal = $("#year").val()
                console.log(inputVal)
                if (inputVal !== "") {
                    $.ajax({
                        url: "SalvaC",
                        type: "POST",
                        data: { annoSc: inputVal },
                        success: function (response) {
                            console.log(response)
                            $('#response').append("")
                            //Riprendi da qui
                            //if (myTemp.val == 2) {
                            //    $("classiGenerate").val = myTemp;
                            //}
                            $("#classiGenerate").show();
                            $("#pSave").show();
                            $("#saveStudents").show();
                        }
                    })
                }
                else {
                    var newP = "<p class='text-danger'>Inserire l'anno scolastico</p>"
                    if ($('#response').children().length == 0) {
                        $('#response').append(newP)
                    }
                }
            })

            $("#saveStudents").click(function () {
                $.ajax({
                    url: "SalvaStudenti",
                    type: "POST",
                    success: function (response) {
                        console.log(response)
                        var newPar = "<p class='text-success'>Alunni salvati correttamente</p>"
                        if ($('#responseSaveStudents').children().length == 0) {
                            $('#responseSaveStudents').append(newPar)
                        }
                    }
                })
            })
        })

    </script>
}