
@{
    ViewBag.Title = "GestioneClassi";
}

<h2>GestioneClassi</h2>

@Html.ActionLink("Classi prime tempo pieno", "GestionePrimeTP", "AreaRiservata", new { area = "" }, new { @class = "btn btn-primary" })
@Html.ActionLink("Classi prime tempo corto", "GestionePrimeTC", "AreaRiservata", new { area = "" }, new { @class = "btn btn-primary" })
@Html.ActionLink("Classi seconde tempo pieno", "GestioneSecondeTP", "AreaRiservata", new { area = "" }, new { @class = "btn btn-primary" })
@Html.ActionLink("Classi seconde tempo corto", "GestioneSecondeTC", "AreaRiservata", new { area = "" }, new { @class = "btn btn-primary" })
@Html.ActionLink("Classi terze tempo pieno", "GestioneTerzeTP", "AreaRiservata", new { area = "" }, new { @class = "btn btn-primary" })
@Html.ActionLink("Classi terze tempo corto", "GestioneTerzeTC", "AreaRiservata", new { area = "" }, new { @class = "btn btn-primary" })


<a href="#" id="salvaClassi">Visualizza classi</a>
<ul id="classiSalvate"></ul>

<label id="label" style="display:none">Inserisci anno scolastico</label>
<input id="year" style="display:none" placeholder="2020-2021" />
<button id="save" style="display:none">Salva classi</button>

<div id="response"></div>

@*<p id="classiGenerate" style="display:none">Classi generate correttamente</p>*@



@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            $("#salvaClassi").click(function () {
                $("#classiSalvate").empty();
                $.ajax({
                    method: "GET",
                    url: "SalvaClassi",
                    success: function (lista) {
                        $.each(lista, function (i, v) {
                            var licurrent = ` <li>` + v.Anno + ` ` + v.Sezione + ` </li>`;
                            $("#classiSalvate").append(licurrent);
                        })
                        $("#label").show();
                        $("#year").show();
                        $("#save").show();
                    }
                })
            })

            //$("#save").click(function () {
            //    $.ajax({
            //        method: 'GET',
            //        url: "SalvaC",
            //        success: function (data) {
            //            console.log(data)
            //            //$(window.location).attr("href", "../Classi/Index");
            //            //$("#classiGenerate").show();
            //        }

            //    })
            //})

            $("#save").click(function () {
                var inputVal = $("#year").val()
                console.log(inputVal)
                if (inputVal !== "")
                {
                    $.ajax({
                        method: "GET",
                        url: "SalvaC",
                        data: { annoSc: inputVal },
                        success: function (data) {
                            console.log(data)
                            if (data.status == true) {
                                $(window.location).attr("href", "../Classi/Index")
                            } 
                        }
                    })
                }
                else {
                var newP = "<p class='text-danger'>Inserire l'anno scolastico</p>"
                                if($('#response').children().length == 0) {
                                $('#response').append(newP)
                                }
                }
            })
        })

    </script>
}