@model IEnumerable<CAPSTONE_PROJECT.Models.DomandeIscrizione>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeAlunno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CognomeAlunno)
        </th>
        <th class="d-none d-md-table-cell">
            @Html.DisplayNameFor(model => model.CFAlunno)
        </th>
        <th class="d-none d-lg-table-cell">
            @Html.DisplayNameFor(model => model.Eta)
        </th>
        <th class="d-none d-lg-table-cell">
            @Html.DisplayNameFor(model => model.Allergie)
        </th>
        <th style="display: none">
            @Html.DisplayNameFor(model => model.CFPapa)
        </th>
        <th style="display: none">
            @Html.DisplayNameFor(model => model.CFMamma)
        </th>
        <th style="display: none">
            @Html.DisplayNameFor(model => model.Isee)
        </th>
        <th class="d-none d-lg-table-cell">
            @Html.DisplayNameFor(model => model.Bilinguismo)
        </th>
        <th class="d-none d-lg-table-cell">
            @Html.DisplayNameFor(model => model.Assicurazione)
        </th>
        <th class="d-none d-lg-table-cell">
            @Html.DisplayNameFor(model => model.Mensa)
        </th>
        <th class="d-none d-lg-table-cell">
            @Html.DisplayNameFor(model => model.TrasportoScolastico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DomandaAccolta)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeAlunno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CognomeAlunno)
            </td>
            <td class="d-none d-md-table-cell">
                @Html.DisplayFor(modelItem => item.CFAlunno)
            </td>
            <td class="d-none d-lg-table-cell">
                @Html.DisplayFor(modelItem => item.Eta)
            </td>
            <td class="d-none d-lg-table-cell">
                @if (item.Allergie == null)
                {
                    <p>-</p>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Allergie)
                }
            </td>
            <td style="display: none">
                @Html.DisplayFor(modelItem => item.CFPapa)
            </td>
            <td style="display: none">
                @Html.DisplayFor(modelItem => item.CFMamma)
            </td>
            <td style="display: none">
                @Html.DisplayFor(modelItem => item.Isee)
            </td>
            <td class="d-none d-lg-table-cell">
                @if (item.Bilinguismo == true)
                {
                    <p>Aderisce</p>
                }
                else
                {
                    <p>Non aderisce</p>
                }
            </td>
            <td class="d-none d-lg-table-cell">
                @if (item.Assicurazione == true)
                {
                    <p>Aderisce</p>
                }
                else
                {
                    <p>Non aderisce</p>
                }
            </td>
            <td class="d-none d-lg-table-cell">
                @if (item.Mensa == true)
                {
                    <p>Aderisce</p>
                }
                else
                {
                    <p>Non aderisce</p>
                }
            </td>
            <td class="d-none d-lg-table-cell">
                @if (item.TrasportoScolastico == true)
                {
                    <p>Aderisce</p>
                }
                else
                {
                    <p>Non aderisce</p>
                }
            </td>
            <td>
                @if (item.DomandaAccolta == true)
                {
                    <p>Accolta</p>
                }
                else
                {
                    <p>Non accolta</p>
                }
            </td>
        </tr>
    }

</table>
