@model CAPSTONE_PROJECT.Models.DomandeIscrizione

<div>
    <hr />
    <dl class="dl-horizontal form-control">
        <dt>
            @Html.DisplayNameFor(model => model.NomeAlunno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeAlunno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CognomeAlunno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CognomeAlunno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CFAlunno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CFAlunno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Eta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Allergie)
        </dt>

        <dd>
            @if (Model.Allergie == null)
            {
                <p>Nessuna allergia specificata</p>
            }
            else
            {
                @Html.DisplayFor(model => model.Allergie)
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CFPapa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CFPapa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CFMamma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CFMamma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Isee)
        </dt>

        <dd>
            @if (Model.Isee == null)
            {
                <p>Isee non dichiarato</p>
            }
            else
            {
                @Html.DisplayFor(model => model.Isee)
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bilinguismo)
        </dt>

        <dd>
            @if (Model.Bilinguismo == true)
            {
                <p>Aderisce</p>
            }
            else
            {
                <p>Non aderisce</p>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assicurazione)
        </dt>

        <dd>
            @if (Model.Assicurazione == true)
            {
                <p>Aderisce</p>
            }
            else
            {
                <p>Non aderisce</p>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mensa)
        </dt>

        <dd>
            @if (Model.Mensa == true)
            {
                <p>Aderisce</p>
            }
            else
            {
                <p>Non aderisce</p>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrasportoScolastico)
        </dt>

        <dd>
            @if (Model.TrasportoScolastico == true)
            {
                <p>Aderisce</p>
            }
            else
            {
                <p>Non aderisce</p>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DomandaAccolta)
        </dt>

        <dd>
            @if (Model.DomandaAccolta == true)
            {
                <p>Accolta</p>
            }
            else if (Model.DomandaAccolta == false)
            {
                <p>Non accolta</p>
            }
            else
            {
                <p>Esito in sospeso</p>
            }
        </dd>

    </dl>
</div>

