@model IEnumerable<CAPSTONE_PROJECT.Models.DomandeIscrizione>

@{
    ViewBag.Title = "Index";
}

<div class="m-4">
    <h2>Elenco domande d'iscrizione</h2>

    <p>
        @Html.ActionLink("Inserisci nuova domanda", "Create")
    </p>
</div>
            <table class="table my-form">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NomeAlunno)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CognomeAlunno)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CFAlunno)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Eta)
                    </th>
                    <th style="display: none">
                        @Html.DisplayNameFor(model => model.Allergie)
                    </th>
                    <th style="display: none">
                        @Html.DisplayNameFor(model => model.Bilinguismo)
                    </th>
                    <th style="display: none">
                        @Html.DisplayNameFor(model => model.Assicurazione)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CFPapa)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CFMamma)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Isee)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DomandaAccolta)
                    </th>
                    <th style="display: none">
                        @Html.DisplayNameFor(model => model.Mensa)
                    </th>
                    <th style="display: none">
                        @Html.DisplayNameFor(model => model.TrasportoScolastico)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomeAlunno)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CognomeAlunno)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CFAlunno)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Eta)
                        </td>
                        <td style="display: none">
                            @Html.DisplayFor(modelItem => item.Allergie)
                        </td>
                        <td style="display: none">
                            @Html.DisplayFor(modelItem => item.Bilinguismo)
                        </td>
                        <td style="display: none">
                            @Html.DisplayFor(modelItem => item.Assicurazione)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CFPapa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CFMamma)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Isee)
                        </td>
                        <td>
                            @Html.CheckBox("DomandaAccolta", new {@class="ms-4"})
                        </td>
                        <td style="display: none">
                            @Html.EditorFor(modelItem => item.Mensa, new { htmlAttributes = new { @class = "text-danger" } })
                        </td>
                        <td style="display: none">
                            @Html.DisplayFor(modelItem => item.TrasportoScolastico)
                        </td>
                        <td>
                            @Html.ActionLink("Modifica", "Edit", new { id = item.IdDomanda }) |
                            @Html.ActionLink("Dettagli", "Details", new { id = item.IdDomanda }) |
                        </td>
                    </tr>
                }

            </table>

